// -------------------------
// 変数定義
// -------------------------

// カラー指定
$main-header-color-rank01: #333333;
$main-header-color-rank02: #999999;
$main-border-solid: #eeeeee;
$main-header-btncolor: #38AEF0;

// フォントサイズ指定
$current-gname-font: 20px;
$member-list-font: 12px;



// -------------------------
// メイン画面
// -------------------------

// メイン画面（表示領域）
.chat-main {
  height: 100%;
  width: calc(100vw - 300px);
}

// メイン画面（ヘッダー）
.main-header {
  height: 100px;
  border-bottom: solid 1px $main-border-solid;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;

  &__left-box {
    margin-top: 35px;

    // 現在のグループ名
    &__current-group {
      font-size: $current-gname-font;
      color: $main-header-color-rank01;
    }

    // メンバー一覧
    &__member-list {
      margin-top:15px;
      font-size: $member-list-font;
      color: $main-header-color-rank02;
      display: flex;

      // メンバー
      &__member {
        margin-right: 0.3rem;
      }
    }
  }

  // Editボタン（リンク）
  a {
    text-decoration: none;
    color: $main-header-btncolor;
  }

  // Editボタン
  &__edit-btn {
    margin-top: 28px;
    height: 40px;
    border: solid 1px $main-header-btncolor;
    padding: 0 20px;
    line-height: 40px;
  }
}